<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhi.workoutapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FitNotesFirebase"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.abhi.fitnotesfirebase.GridLayoutActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.example.abhi.fitnotesfirebase.MainActivity" android:label="Days" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.abhi.fitnotesfirebase.Info" android:label="Exercise Info" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.abhi.fitnotesfirebase.EnterWeight" android:label="Data Entry" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.abhi.fitnotesfirebase.WeightTracker" android:label="View Data" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.abhi.fitnotesfirebase.EditDataActivity" android:label="Data Editor" android:screenOrientation="portrait"></activity>
    </application>

</manifest>